/* Colores Principales */
:root {
  --color-rojo-claro: hsl(0, 100%, 67%);
  --color-amarillo-anaranjado: hsl(39, 100%, 56%);
  --color-verde-turquesa: hsl(166, 100%, 37%);
  --color-azul-cobalto: hsl(234, 85%, 45%);
}

/* Degradados */
:root {
  --color-fondo-azul-pizarra-claro: hsl(252, 100%, 67%);
  --color-fondo-azul-real-claro: hsl(241, 81%, 54%);
  --color-circulo-azul-violeta: hsla(256, 72%, 46%, 1);
  --color-circulo-azul-persa: hsla(241, 72%, 46%, 0);
}

/* Colores Neutrales */
:root {
  --color-blanco: hsl(0, 0%, 100%);
  --color-azul-palido: hsl(221, 100%, 96%);
  --color-lavanda-claro: hsl(241, 100%, 89%);
  --color-azul-grisaceo-oscuro: hsl(224, 30%, 27%);
}

*{
    margin: 0;
    padding: 0;
    font-weight: 100;
}
body{
    font-family: [Hanken Grotesk];

}


.padre{
    border: 1px solid;
    width: 45%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 11%;
    max-height: 1440px;
    height: 55%;
}

.hijo1{
    background: var(--color-fondo-azul-pizarra-claro);
    width: 50%;
    float: left;
    box-sizing: border-box;
    border: 1px solid;
    height: 100%;
}
.hijo2{
    background: var(--color-blanco);
    width: 50%;
    float: right;
    box-sizing: border-box;
    border: 1px solid;
    height: 100%;

}

@media screen and (max-width: 800px){
    .hijo2, .hijo1{
        width: 100%;
    }
    .padre{
        width: 80%;
    }

}
@media screen and (max-width: 375px){
    .padre{
        width: 100%;
    }

}


.punto {
    font-weight: bold;
    /* color: var(--color-azul-palido); */

}
.punto100{
    color: var(--color-lavanda-claro);
}

.texto-r{
    color: var(--color-rojo-claro);
    margin-right: 45%;
}
.texto-m{
    color: var(--color-amarillo-anaranjado);
    margin-right: 45%;
}
.texto-v{
    color: var(--color-verde-turquesa);
    margin-right: 50%;
}
.texto-vi{
    color: var(--color-azul-cobalto);
    margin-right: 50%;
}

.nieto1, .nieto2, .nieto3, .nieto4{
    background: var(--color-azul-palido);
    border-radius: 2px;
    width: 80%;
    margin: 0 auto;

}

.circulo{
    border: 1px solid;
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 16%;
    height: 35%;



}